{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
    <nav class="m-3 pr-md-2">
        <nav class="container-fluid p-3" style="background: #1BCC8C; color: white;">
            <h1 class="display-5">Daftar Barang</h1>
        </nav>
    </nav>

    <nav class="m-3 pr-md-2" id="daftarBarang">
        <nav class="container-fluid p-0">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" onclick="filter()">Filter</button>
                </div>
                <select class="custom-select" id="filterItem">
                    <option selected>Semua</option>
                    {% for filter in filters %}
                    <option>{{ filter.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <table class="table table table-striped table-responsive-sm" id="myTable">
                <thead>
                    <tr>
                        <th scope="col" onclick="sortTable(0)"><a href="#" class="text-body">Id Barang</a></th>
                        <th scope="col" onclick="sortTable(1)"><a href="#" class="text-body">Nama Item</a></th>
                        <th scope="col">Warna</th>
                        <th scope="col">Kondisi</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody id="isiBarang">
                    {% for barang in daftar_barang %}
                    <tr>
                        <th scope="row" id="id">{{ barang.0 }}</th>
                        <td id="nama">{{ barang.1 }}</td>
                        <td id="warna">{{ barang.2 }}</td>
                        <td id="kondisi">{{ barang.4 }}</td>
                        <td>
                            <a href="{% url 'barang:detail_barang' kunci=barang.0 %}">
                                <button type="button" class="btn btn-info btn-sm">Detail</button>
                            </a>
                        </td>
                        <td>
                            {% if request.session.role == "Admin" %}
                            <a href="{% url 'barang:update_barang' kunci=barang.0 %}">
                                <button class="btn btn-primary btn-sm">Update</button>
                            </a>
                            <a href="{% url 'barang:delete_barang' kunci=barang.0 %}">
                                <button class="btn btn-danger btn-sm" id="delete" data-toggle="modal" data-target="#delete-modal">Delete</button>
                            </a>
                            {% else %}
                            <div class="form-check">
                                <input class="form-check-input mx-auto checkPesan" type="checkbox">
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="float-right">
                <ul class="pagination" style="background: inherit;">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1<span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <button class="btn btn-primary sr-only float-left" id="pesan" type ="button">Pesan</button>
        </nav>
    </nav>    
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/daftar_barang.js' %}"></script>
<script>
    function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
            }
        } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
            }
        }
        }
        if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
        } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
        }
        }
    }
    }

    function filter() {
    var input, filter, table, tr, td, i, txtValue, no;
    no = document.getElementById("filterItem");
    input = no.options[no.selectedIndex].text;
    if (input == "Semua") input = "";
    filter = input.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }       
    }
    }

    // function hapusBarang(n) {
    // if (confirm("Anda yakin ingin menghapus barang?")) {
    //     var i = n.parentNode.parentNode.rowIndex;
    //     document.getElementById("myTable").deleteRow(i);
    // }
    // }
</script>
{% endblock %}