{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
    <nav class="m-3 pr-md-2">
        <nav class="container-fluid p-3" style="background: #1BCC8C; color: white;">
            <h1 class="display-5">Detail Barang</h1>
        </nav>
    </nav>
    <dl class="row m-3">
        <dt class="col-sm-3">Id Barang</dt>
        <dd class="col-sm-9">{{ id_barang }}</dd>

        <dt class="col-sm-3">Nama Item</dt>
        <dd class="col-sm-9">{{ nama_item }}</dd>

        <dt class="col-sm-3">Warna</dt>
        <dd class="col-sm-9">{{ warna }}</dd>

        <dt class="col-sm-3">URL Foto</dt>
        <dd class="col-sm-9"><i>{{ url_foto }}</i></dd>

        <dt class="col-sm-3">Kondisi</dt>
        <dd class="col-sm-9">{{ kondisi }}</dd>

        <dt class="col-sm-3">Lama Penggunaan</dt>
        <dd class="col-sm-9">{{ lama_penggunaan }}</dd>

        <dt class="col-sm-3">Pemilik/Penyewa</dt>
        <dd class="col-sm-9">{{ nama_pemilik }}</dd>

        <br>

        <dt class="col-sm-3">Info Barang</dt>
        <dd class="col-sm-9"></dd>
        
        <dt class="col-sm-3">Bronze</dt>
        <dd class="col-sm-9">
            <dl class="row">
            <dt class="col-sm-4">Persen Royalty</dt>
            <dd class="col-sm-8">{{ porsi_loyalti_bronze }}</dd>
            </dl>
            <dl class="row">
            <dt class="col-sm-4">Harga Sewa</dt>
            <dd class="col-sm-8">{{ harga_sewa_bronze }}</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Silver</dt>
        <dd class="col-sm-9">
            <dl class="row">
            <dt class="col-sm-4">Persen Royalty</dt>
            <dd class="col-sm-8">{{ porsi_loyalti_silver }}</dd>
            </dl>
            <dl class="row">
            <dt class="col-sm-4">Harga Sewa</dt>
            <dd class="col-sm-8">{{ harga_sewa_silver }}</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Gold</dt>
        <dd class="col-sm-9">
            <dl class="row">
            <dt class="col-sm-4">Persen Royalty</dt>
            <dd class="col-sm-8">{{ porsi_loyalti_gold }}</dd>
            </dl>
            <dl class="row">
            <dt class="col-sm-4">Harga Sewa</dt>
            <dd class="col-sm-8">{{ harga_sewa_gold }}</dd>
            </dl>
        </dd>

        <br>

        <dt class="col-sm-3">Review</dt>
        <dd class="col-sm-9"></dd>

        {% for review in daftar_review %}
        <dt class="col-sm-3">{{ review.0 }}</dt>
        <dd class="col-sm-9"><i>{{ review.1 }}</i></dd>
        {% endfor %}

        <br>

        <button class="btn btn-primary float-left" id="pesan" type ="button">Pesan</button>
    </dl>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}