{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-5">
    <h5 class="card-header text-center py-4" style="background: #1BCC8C; color: white;">
        <strong>FORM UPDATE BARANG</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
        
        <!-- Form -->
        <form class="px-2 mx-auto col-md-6" style="color: #1BCC8C;" id="form-registration">
            {% csrf_token %}

            <!-- Id Barang -->
            <div class="md-form mt-3">
                <label for="idBarang">Id Barang</label>
                <input type="text" id="idBarang" class="form-control" value="{{ id_barang }}" required>
                <div class="invalidId"></div>
            </div>

            <!-- Nama Item -->
            <div class="form-group mt-3">
                <label for="inputProgramName">Nama Item</label>
                <select class="form-control" id="namaItem">
                    <option value="" disabled selected>{{ nama_item }}</option>
                    {% for item in items %}
                    <option>{{ item.0 }}</option>
                    {% endfor %}
                </select>
                <div class="invalidItem"></div>
            </div>

            <!-- Warna -->
            <div class="md-form mt-3">
                <label for="warna">Warna</label>
                <input type="text" id="warna" class="form-control" value="{{ warna }}">
            </div>

            <!-- URL Foto -->
            <div class="md-form mt-3">
                <label for="urlFoto">URL Foto</label>
                <input type="text" id="urlFoto" class="form-control" value="{{ url_foto }}">
            </div>

            <!-- Kondisi -->
            <div class="md-form mt-3">
                <label for="kondisi">Kondisi</label>
                <input type="text" id="kondisi" class="form-control" value="{{ kondisi }}" required>
                <div class="invalidKondisi"></div>
            </div>

            <!-- Lama Penggunaan -->
            <div class="md-form mt-3">
                <label for="lamaPenggunaan">Lama Penggunaan</label>
                <input type="number" id="lamaPenggunaan" class="form-control" min="1" max="1000000000" value="{{ lama_penggunaan }}">
                <small id="lamaPenggunaanHelp" class="form-text text-muted mb-4">Dalam bulan</small>
            </div>

            <!-- Pemilik/Penyewa -->
            <div class="form-group mt-3">
                <label for="inputProgramName">Pemilik/Penyewa</label>
                <select class="form-control" id="pemilik">
                    <option value="" disabled selected>{{ nama_pemilik }}</option>
                    {% for owner in owners %}
                    <option>{{ owner.0 }}</option>
                    {% endfor %}
                </select>
                <div class="invalidPemilik"></div>
            </div>

            <!-- Info Barang -->
            <p class="h4 mt-5">Info Barang</p>

            <!--Bronze-->
            <p class="h5 mt-3">Bronze</p>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- Persen Royalty -->
                    <div class="md-form">
                        <label for="persenRoyaltyBronze">Persen Royalty</label>
                        <input type="number" id="persenRoyaltyBronze" class="form-control" min="0" max="100" value="{{ porsi_loyalti_bronze }}">
                        <small id="persenRoyaltyBronzeHelp" class="form-text text-muted mb-4">Dalam persen</small>
                    </div>
                </div>
                <div class="col">
                    <!-- Harga Sewa -->
                    <div class="md-form">
                        <label for="hargaSewaBronze">Harga Sewa</label>
                        <input type="number" id="hargaSewaBronze" class="form-control" min="0" max="10000000" value="{{ harga_sewa_bronze }}">
                        <small id="persenRoyaltyBronzeHelp" class="form-text text-muted mb-4">Dalam Rupiah/minggu</small>
                    </div>
                </div>
            </div>

            <!--Silver-->
            <p class="h5 mt-3">Silver</p>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- Persen Royalty -->
                    <div class="md-form">
                        <label for="persenRoyaltySilver">Persen Royalty</label>
                        <input type="number" id="persenRoyaltySilver" class="form-control" min="0" max="100" value="{{ porsi_loyalti_silver }}">
                        <small id="persenRoyaltySilverHelp" class="form-text text-muted mb-4">Dalam persen</small>
                    </div>
                </div>
                <div class="col">
                    <!-- Harga Sewa -->
                    <div class="md-form">
                        <label for="hargaSewaSilver">Harga Sewa</label>
                        <input type="number" id="hargaSewaSilver" class="form-control" min="0" max="10000000" value="{{ harga_sewa_silver }}">
                        <small id="persenRoyaltySilverHelp" class="form-text text-muted mb-4">Dalam Rupiah/minggu</small>
                    </div>
                </div>
            </div>

            <!--Gold-->
            <p class="h5 mt-3">Gold</p>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- Persen Royalty -->
                    <div class="md-form">
                        <label for="persenRoyaltyGold">Persen Royalty</label>
                        <input type="number" id="persenRoyaltyGold" class="form-control" min="0" max="100" value="{{ porsi_loyalti_gold }}">
                        <small id="persenRoyaltyGoldHelp" class="form-text text-muted mb-4">Dalam persen</small>
                    </div>
                </div>
                <div class="col">
                    <!-- Harga Sewa -->
                    <div class="md-form">
                        <label for="hargaSewaGold">Harga Sewa</label>
                        <input type="number" id="hargaSewaGold" class="form-control" min="0" max="10000000" value="{{ harga_sewa_gold }}">
                        <small id="persenRoyaltyGoldHelp" class="form-text text-muted mb-4">Dalam Rupiah/minggu</small>
                    </div>
                </div>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" id="submit" type ="submit">Submit</button>

        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/update_barang.js' %}"></script>
{% endblock %}