<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Toys Rent Padil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/pengguna.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head>
<body class="Green-Background">
    <div class="base">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <a class="navbar-brand mx-2" href="/">
                <img src="{% static "img/logo.png" %}" alt="Logo" style="width:100px;">
            </a>
        </nav>
    </div>
    <div class="Content">
		<div class="Login-Title-Box text-center">
			<p class="Title-Text White-Font Font-Size-40 font-weight-bold">Log In</p>
		</div>
        <form method="POST" class="Login-Form" action="/pengguna/user_login" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="text-center">
                <button type="submit" value="Submit" class="btn btn-lg ml-auto px-5 Font-Size-18 my-5 Login">Log In</button>
            </div>
        </div>
	</div>
</body>
</html>
