{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/pengguna.css" %}">{% endblock %}

{% block content %}
<div class="p-3">
    <div class="container White-Background">
        <div class="Profil-Title-Box text-center p-1">
            <div class="User-Image-Icon d-block m-auto">
                <img src="http://2.bp.blogspot.com/-XJ8-WHgy6iU/U6eM6PZau8I/AAAAAAAAFbA/LkYn9WWZYw0/s1600/brown_cony_081_o.png"
                     alt="user-image" class="User-Image d-block w-75 h-75">
            </div>
            <p class="Title-Text Font-Size-40 font-weight-bold m-3">{{ request.session.nama }}</p>
        </div>
        <div class="Profil">
            <div class="row">
                <div class="col px-5">
                    <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Nomor KTP</p>
                    <p class="Font-Size-20"><i class="fa fa-address-card"></i> {{ request.session.no_ktp }}</p>
                </div>
                <div class="col px-5">
                    <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Tanggal lahir</p>
                    <p class="Font-Size-20"><i class="fa fa-birthday-cake"></i> {{ request.session.tanggal_lahir }}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col px-5">
                    <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Email</p>
                    <p class="Font-Size-20"><i class="fa fa-envelope"></i> {{ request.session.email }}</p>
                </div>
                <div class="col px-5">
                    <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Nomor Telepon</p>
                    <p class="Font-Size-20"><i class="fa fa-phone-square"></i> {{ request.session.no_telepon }}</p>
                </div>
            </div>
            {% if request.session.role == "Anggota" %}
                <div class="row my-4">
                    <div class="col px-5">
                        <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Poin</p>
                        <p class="Font-Size-20"><i class="fas fa-star"></i> {{ request.session.poin }}</p>
                    </div>
                    <div class="col px-5">
                        <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Level</p>
                        <p class="Font-Size-20"><i class="fas fa-award"></i> {{ request.session.level }}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col px-5">
                        <p class="Font-Size-20 White-Font Green-Background py-1 px-2">Alamat</p>
                        {% for alamat in request.session.alamats %}
                            <p class="Font-Size-20"><i class="fa fa-home"></i> {{ alamat }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}