<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Toys Rent Padil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static "js/pengguna.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/pengguna.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"><!DOCTYPE html>
<body class="Green-Background">
    <div class="base">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <a class="navbar-brand mx-2" href="/"><img src="{% static "img/logo.png" %}" alt="Logo" style="width:100px;"></a>
        </nav>
    </div>
    <div class="py-5">
        <div class="Registrasi-Title-Box text-center">
            <p class="Title-Text White-Font Font-Size-40 font-weight-bold p-3">Form Pendaftaran Pengguna</p>
        </div>

        <!-- Template -->
        <div class="template">
            <div class="row my-2 alamat-row d-none">
               {{ alamat_form }}
                <div class="col-sm-0.5 m-auto Delete-Alamat">
                    <button type="button" class="btn Font-Size-15 py-0 px-1 my-1 ml-auto"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>

        <form action="/pengguna/user_register/{{ role }}" class="Registrasi-Form" method="post" autocomplete="off">
            {% csrf_token %}
            {{ register_form.as_p}}
            {% if role == "anggota" %}
            <div class="form-group alamats">
                <label for="alamat" class="White-Font Font-Size-20">Alamat&nbsp;&nbsp;&nbsp;</label>
                <button type="button" class="btn Font-Size-15 py-0 px-1 my-1 ml-auto Add-Alamat"><i class="fa fa-plus"></i></button>

                <!-- Template -->

                <div class="row d-none" id="alamat-row">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm mx-3 my-1 alamat" name="jenisalamat" placeholder="Jenis Alamat">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm mx-3 my-1 alamat" name="namajalan" placeholder="Nama Jalan">
                    <input type="number" class="form-control Font-Size-18 col-sm mx-3 my-1 alamat" name="noalamat" placeholder="Nomor">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm mx-3 my-1 alamat" name="kota" placeholder="Kota">
                    <input type="text" maxlength="10" class="form-control Font-Size-18 col-sm mx-3 my-1 alamat" name="kodepos" placeholder="Kodepos">
                    <div class="col-sm-0.5 m-auto Delete-Alamat">
                        <button type="button" class="btn Font-Size-15 py-0 px-1 my-1 ml-auto"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="row" id="alamat-row-1">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm-sm mx-3 my-1 alamat" name="jenisalamat1" placeholder="Jenis Alamat">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm-sm mx-3 my-1 alamat" name="namajalan1" placeholder="Nama Jalan">
                    <input type="number" class="form-control Font-Size-18 col-sm-sm mx-3 my-1 alamat" name="noalamat1" placeholder="Nomor">
                    <input type="text" maxlength="255" class="form-control Font-Size-18 col-sm-sm mx-3 my-1 alamat" name="kota1" placeholder="Kota">
                    <input type="text" maxlength="10" class="form-control Font-Size-18 col-sm-sm mx-3 my-1 alamat" name="kodepos1" placeholder="Kodepos">
                    <div class="col-sm-sm-0.5 m-auto Delete-Alamat">
                        <button type="button" class="btn Font-Size-15 py-0 px-1 my-1 ml-auto"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="text-center">
                <button type="submit" value="Submit" class="btn btn-lg ml-auto px-5 Font-Size-18 my-5 Registrasi">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>