{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pesanan/css/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
{% endblock %}
{% block content %}
<body id="buat_pesanan">
		<div class="col-xs-12 container">
			<form id="form_pesanan" action="{% url 'pesanan:buat_pesanan' %}" method="POST">
				{% csrf_token %}
				<h1 class="title text-white">Ayo Pesan Mainan Favoritmu!</h1>
				<br>
				<br>

				<!--apapun lah ini filternya masih sembarangan, tergantung fitur 1-->
				{% if request.session.role == "Admin" %}
				<select class="col-md-6 form-control" type="text" name="no_ktp_anggota" placeholder="Anggota">
					{% for ang in anggota %}
					<option value={{ ang.0 }}>{{ ang.1 }}</option>
					{% endfor %}
				</select>
				<br>
				<br>
				<br>
				{% endif %}
				<select class="col-md-6 form-control" type="text" name="id_barang" placeholder="Barang" multiple>
					{% for bar in barang %}
					<option value={{ bar.1 }}>{{ bar.0 }}</option>
					{% endfor %}
				</select>
				<small>Press control for multiselect</small>
				<br>
				<br>
				<br>
				<input class="col-md-6 form-control" type="number" name="lama_sewa" placeholder="Berapa hari akan menyewa?">
				<br>
				<button class="btn btn-green" type="submit" value="Submit">Buat</button>
			</form>
		</div>
	</body>
{% endblock %}
