{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pesanan/css/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
{% endblock %}
{% block content %}
<div class="col-xs-12 container">
	<h1 class="title">Daftar Pesanan</h1>
	<br>
	<br>
	<table class="table">
		<thead>
		<tr>
			<th>Id pemesanan</th>
			<th>Daftar barang</th>
			<th>Harga</th>
			<th>Status</th>
			<th>Edit</th>
			{% if request.session.role == "Anggota" %}
			<th>Delete</th>
			{% endif %}
		<tr>
		</thead>

		<tbody id="data_pesanan">
		{% for id, pesanan in response.items %}
			<tr id={{ pesanan.id_pemesanan }}>
				<td id="id_pemesanan">{{ pesanan.id_pemesanan }}</td>
				<td id="barang">
					<ul style="background-color: transparent">
						{% for barang in pesanan.barang %}
						<li>{{ barang }}</li>
						{% endfor %}
					</ul>
				</td>
				<td id="harga">{{ pesanan.harga }}</td>
				<td id="status">{{ pesanan.status }}</td>
				<td><a href="{% url 'pesanan:update_pesanan' pk=pesanan.id_pemesanan %}"><button class="btn btn-icon btn-info"><i class="fa fa-keyboard"></i></button></a></td>
				{% if request.session.role == "Anggota" %}
				<td><button data-toggle="modal" data-target="#delete-modal" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<div class="modal" id="delete-modal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					Apakah anda yakin ingin delete?
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Ya!</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Ga!</button>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
