{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pesanan/css/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
{% endblock %}
{% block content %}
<body id="buat_pesanan">
		<div class="col-xs-12 container">
			<form id="form_pesanan" action="{% url 'pesanan:update_pesanan' pk=pk %}" method="POST">
				{% csrf_token %}
				<h1 class="title text-white">Ayo Pesan Mainan Favoritmu!</h1>
				<br>
				<br>

				<!--apapun lah ini filternya masih sembarangan, tergantung fitur 1-->
				<select class="col-md-6 form-control" type="text" name="id_barang" placeholder="Barang" multiple>
					{% for bar in barang %}
					<option value={{ bar.1 }}>{{ bar.0 }}</option>
					{% endfor %}
				</select>
				<small>Press control for multiselect</small>
				<br>
				<br>
				<input class="col-md-6 form-control" type="text" name="lama_sewa" value={{ lama_sewa }}>
				<br>
				{% if request.session.role == "Admin" %}
				<select class="col-md-6 form-control" type="text" name="konfirm" value={{ status }} placeholder="Konfirm">
					<option value="MENUNGGU_PEMBAYARAN">Konfirm</option>
					<option value="SEDANG_DIKONFIRMASI">Jangan</option>
				</select>
				{% endif %}
				{% if request.session.role == "Anggota" %}
					<p id="status">Status : {{ obj.status }}</p>
				{% endif %}
				<br>
				<button class="btn btn-green" type="submit" value="Submit">Update</button>
			</form>
		</div>
	</body>
{% endblock %}