{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" href="{% static 'level/css/style.css' %}"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			font-family: Lato;
			font-size: 12px;
		}

		table {
			border: 1px solid black;
		}

		tr {
			border: 1px solid black;
		}

		td {
			border: 1px solid black;
			text-align: center;
			font-size: 2em;
		}
	</style>
{% endblock %}

{% block content %}
	<table style="width:80%">
		<thead>
			<tr>
				<th>Id Pengiriman</th>
				<th>Daftar Barang</th>
				<th>Harga total</th>
				<th>Tanggal pengiriman</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="data_pengiriman">
			{% for shipping in shippings %}
			<tr id="pengiriman1">
				<td id="id">{{ forloop.counter }}</td>
				<td id="barang">{{ shipping.0 }}</td>
				<td id="harga">{{ shipping.1 }}</td>
				<td id="tanggal">{{ shipping.2 }}</td>
				<td>
					<button type="submit" class="btn btn-default">Update</button>
					{% if request.session.role == "Admin" %}
						<button type="submit" class="btn btn-default">Delete</button>
						<button type="submit" class="btn btn-default">Review</button>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
{% endblock %}