{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'level/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
{% endblock %}
{% block content %}
<div class="col-xs-12 container">
	<h1 class="title">Daftar Level Keanggotaan</h1>
	<br>
	<br>
	<table class="table">
		<thead>
		<tr>
			<th>No</th>
			<th>Nama Level</th>
			<th>Deskripsi</th>
			<th>Minimum Poin</th>
			{% if request.session.role == "Admin" %}
			<th>Edit</th>
			<th>Delete</th>
			{% endif %}
		<tr>
		</thead>

		<tbody id="data_level">
		{% for level in list_level %}
		<tr id="level_1">
			<td id="no">{{ forloop.counter }}</td>
			<td id="nama">{{ level.0 }}</td>
			<td id="deskripsi">{{ level.2 }}</td>
			<td id="min_poin">{{ level.1 }}</td>
			{% if request.session.role == "Admin" %}
			<td><a href="{% url 'level:update_level' nama=level.0 %}"><button class="btn btn-icon btn-info"><i class="fa fa-keyboard"></i></button></a></td>
			<td><a href="{% url 'level:delete_level' nama=level.0 %}"><button id="delete" data-toggle="modal" data-target="#delete-modal" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
			{% endif %}
			{% endfor %}
		</tr>
		</tbody>
	</table>
</div>
{% endblock %}