{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'level/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
{% endblock %}
{% block content %}
<body id="tambah_level">
	<div class="col-xs-12 container">
		<form id="form_level" action="{% url 'level:update_level' nama=nama %}" method="POST">
			{% csrf_token %}
			<h1 class="title text-white">Level Up!!</h1>
			<br>
			<br>

			{% for form in level_form %}
			{{ form }}
			<br>
			{% endfor %}
			<br>
			<button class="btn btn-green" type="submit" value="Submit">Update</button>
		</form>
	</div>
</body>
{% endblock %}

