body{
	background: linear-gradient(110.7deg, #1BCC8C 31.7%, #FFFFFF 93.54%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width:100%;
	height: 1px;
	font-family: 'Lato';
	color:white;
}

.container{
	top: 150px;
	position: absolute;
	width: 100%;
	padding: 1% 8% 75px;
	margin: 0 auto;
}

.title{
	color: #8D8D8D;
	font-weight: bold;
}

.btn-green{
	background-color: white;
	color: #1BCC8C;
	margin-right: 5px;
}