body {
    background-color: #1BCC8C;
}

/* CUD-Item */
.CUD-Item-Title-Box {
    margin-top: 80px;
}

.CUD-Item-Form {
    padding: 0 25%;
}

.form-control, input[type]:focus {
    margin-bottom: 30px;
    height: 70px;
    padding: 1%;
    background:rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline:none;
    box-shadow: none;
}

.form-control::placeholder {
  color: #e0e0d1;
  opacity: 0.8;
}

.errorlist {
    font-size: 15px;
    font-weight: bold;
    color: #CC3434;
}

.CUD-Item a {
    text-decoration: none;
}

label {
    color: white;
    font-size: 20px;
}
