body {
    background-color: #1BCC8C;
}

label, .dataTables_wrapper .dataTables_info {
    color: white!important;
}

/* Daftar-Item */
.Daftar-Item-Title-Box {
    margin-top: 80px;
    margin-bottom: -50px;
}

.Daftar-Item-Table {
    padding: 0 10%;
    margin-bottom: 10px;
}

.page-item.active .page-link {
  background-color: #159e6c!important;
  border-color: #159e6c;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #6DDCBD!important;
    border: #6DDCBD!important;
}

.btn-green {
	background-color: #159e6c!important;
	color: white;
}

a, .page-link, a:hover {
    color: #1BCC8C;
}

@media screen and (max-width:958px) {
    .Daftar-Item-Title-Box {
        margin-top: 100px;
        margin-bottom: -50px;
    }
}

@media screen and (max-width:649px) {
    .Daftar-Item-Title-Box {
        margin-bottom: 30px;
    }

    .Daftar-Item-Table {
        padding: 0 10%;
        margin-top: 10px;
    }
}