{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/chat.css" %}">{% endblock %}

{% block content %}
<div class="container-fluid clearfix mx-auto mt-5">
    {% if request.session.role == "Admin" %}
    <div class="people-list container-fluid col-md-3 text-white bg-dark m-2" id="people-list">
        <ul class="list">
            <li class="clearfix">
            <div class="about">
                <div class="name">Cloud</div>
            </div>
            </li>         
            <li class="clearfix">
            <div class="about">
                <div class="name">Fazal</div>
            </div>
            </li>
        </ul>
    </div>
    {% endif %}
        
    <div class="chat container-fluid col-md-8 m-2">
        <div class="chat-header clearfix">
        <div class="chat-about">
            <div class="chat-with">Chat with Cloud</div>
        </div>
        </div> <!-- end chat-header -->
        
        <div class="chat-history">
        <ul class="p-0">
            <li class="clearfix">
                <div class="message-data align-right">
                    <span class="message-data-name" >You</span>
                </div>
                <div class="message other-message float-right">
                    Hi Cloud, how are you?
                </div>
            </li>
            
            <li>
                <div class="message-data">
                    <span class="message-data-name">Cloud</span>
                </div>
                <div class="message my-message">
                    Good
                </div>
            </li>
        </ul>

        </div> <!-- end chat-history -->
        
        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
            <button type="button" class="btn btn-primary float-right mb-2">SEND</button>
        </div> <!-- end chat-message -->
        
    </div> <!-- end chat -->
        
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}