/* Font */
p {
    font-family: muli;
}

/* Font Size */
.Font-Size-15 {
    font-size: 15px;
}

.Font-Size-20 {
    font-size: 20px;
}

.Font-Size-25 {
    font-size: 25px;
}

.Font-Size-30 {
    font-size: 30px;
}

.Font-Size-35 {
    font-size: 35px;
}

.Font-Size-40 {
    font-size: 40px;
}

/* Font Color */
.White-Font {
    color: #FFFFFF;
}

/* Background Color */
.Green-Background {
    background-color: #1BCC8C;
}

.White-Background {
    background-color: #FFFFFF;
}

/*NavBar*/
.navbar {
	background-color:#1BCC8C;
	padding: 0.5%;
}

.navbar-toggler {
	font-size: 25px;
}

.dropdown-menu {
	padding: 1%;
	margin: 1%;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1BCC8C;
}

li {
	margin-left: 1%;
	list-style-type: none;
}

.nav-link{
	display: block;
	text-decoration: none;
	color: rgba(255,255,255,.5)!important;
}

.nav-link:hover{
	color: #FFFFFF !important;
    text-decoration: none;
}

button {
    background-color: white;
    color: #1BCC8C;
}

button:hover{
    background-color: #d9d9d9;
}

.Logout {
	border-left: 1.5px solid white;
}