@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
  box-sizing: border-box;
}

.people-list {
  /* width:260px; */
  float: left;
}

.people-list > ul {
  padding: 20px;
  background-color: inherit;
  /* height: 770px; */
}

.people-list > ul > li {
  padding-bottom: 20px;
}
  
.about {
  float: left;
  margin-top: 8px;
  padding-left: 8px;
}

.chat {
  /* width: 490px; */
  float:left;
  background: #1BCC8C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
    
.chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
    
.chat-with {
  font-weight: bold;
  font-size: 16px;
}
  
.chat-history {
  background: white;
  padding: 30px 30px 20px;
  overflow-y: scroll;
  height: 310px;
}

.chat-history > ul {
  background-color: inherit;
}
    
.message-data {
  margin-bottom: 15px;
}
    
.message {      
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
      
.message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #434651;
  border-width: 10px;
  margin-left: -10px;
}
    
.my-message {
  background: #434651;
}
    
.other-message {
  background: #1BCC8C;
}
      
.other-message:after {
  border-bottom-color: #1BCC8C;
  left: 93%;
}
  
.chat-message {
  margin-top: 20px;
}
    
.chat-message > textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.me {
  color: #434651;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}