body {
    background-color: #1BCC8C;
}

/* Profil */
.container {
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.Profil {
  padding: 3% 0;
}

.User-Image-Icon {
    background-color: lightpink;
	width: 230px;
	border-radius: 50%;
}

.User-Image {
    margin: 13% 0 0 15%;
}

/* Login */

.Login-Title-Box {
    margin-top: 150px;
}

.Login-Form {
    padding: 0 25%;
}

.form-control, input[type]:focus {
    margin-top: 3%;
    margin-bottom:  2%;
    padding: 10px;
    height: 4vw;
    padding: 1%;
    background:rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline:none;
    box-shadow: none;
}

.form-control::placeholder {
  color: #e0e0d1;
  opacity: 0.8;
}

.errorlist {
    font-size: 20px;
    color: red;
    margin: 10px 0 0 0; 
    padding: 0;
    text-align: center;
}

.Login {
   width: 30%;
   margin-top: 5%;
}

.Login a {
    text-decoration: none;
}

/* Registrasi */
.Registrasi-Form {
    padding: 0 20%;
}

.form-group {
    font-family: muli;
    margin-top: 1%;
    margin-bottom:  1%;
    padding: 10px;
}

.form-control, input[type]:focus {
    height: 4vw;
    padding: 1%;
    background:rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline:none;
    box-shadow: none;
}

.form-control::placeholder {
    color: #e0e0d1;
    opacity: 0.8;
}

.Registrasi {
    width: 30%;
    margin-top: 5%;
}

.Registrasi a {
    text-decoration: none;
}

.Delete-Alamat {
    height: 40%;
}
