body#tambah_level {
	background: linear-gradient(110.7deg, #1BCC8C 31.7%, #FFFFFF 93.54%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width:100%;
	height: 1px
}

body{
	font-family: 'Lato';

}

.container{
	top: 110px;
	position: absolute;
	width: 100%;
	padding: 1% 8% 75px;
	margin: 0 auto;
}

.title{
	color: #8D8D8D;
	font-weight: bold;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: white;
    display: block;
    width: 50%;
}

.form-control:focus{
	background: transparent;
    border: none;
    border-bottom: 4px solid #FFFFFF;
    color: white;
    display:  block;
    outline: 0;
    box-shadow: none;
}

input[type=text]:focus, textarea:focus {
  	width: 100%;
}

#form_pesanan > input::placeholder{
	color: white;
}

.btn-green{
	background-color: white;
	color: #1BCC8C;

}

option{
	color: black;
}