{% extends 'base.html' %}
{% load static %}

{% block meta %}
    {% if request.session.role == "Anggota" %}
        <meta http-equiv = "refresh" content = "0; url = /item" />
    {% endif %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/cu-item.css" %}">
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
{% endblock css %}

{% block content %}
    <div class="Content">
		<div class="CUD-Item-Title-Box text-center">
			<p class="Title-Text White-Font Font-Size-40 font-weight-bold p-3">Form Penambahan Item</p>
		</div>
        {% if type == 'tambah' %}
		<form method="POST" action="/item/tambah-item" autocomplete="off" class="CUD-Item-Form">
        {% elif type == 'update' %}
        <form method="POST" action="/item/update-item/{{ nama }}" autocomplete="off" class="CUD-Item-Form">
        {% endif %}
            {% csrf_token %}
			{{ form.as_p }}
            <div class="form-group">
                <label for="category">Kategori :</label>
                <select multiple class="form-control"size="3" name="category" id="category">
                    {% for category in categories %}
                        <option>{{ category }}</option>
                    {% endfor %}
              </select>
            </div>
		  	<div class="text-center">
                <button type="submit" value="Submit" class="btn btn-lg ml-auto px-5 Font-Size-18 my-5 CUD-Item">Submit</button>
            </div>
		</form>
	</div>
{% endblock content %}

{% block script %}
{#<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>#}
<script src="{% static "js/item.js" %}" type="text/javascript"></script>
{% endblock %}