{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/item.css" %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">{% endblock %}

{% block content %}
    <div class="Content">
		<div class="Daftar-Item-Title-Box text-center">
			<p class="Title-Text White-Font Font-Size-40 font-weight-bold">Daftar Item</p>
		</div>
        <div class="Daftar-Item-Table">
            <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light">
                    <th>No</th>
                    <th>Nama Item</th>
                    <th>Kategori</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="item-table">
                    {% for name, category in items %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ name }}</td>
                        <td>{{ category }}</td>
                        <td>
                          <a href="">Lihat Barang</a> |
                          <a href="/item/update/{{ name }}">Update</a> |
                          <a href="#" data-toggle="modal" data-target="#deleteItemModal" value="/item/delete/{{ name }}">Delete</a> |
                          <a href="">Tambah Barang</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- The Modal -->
            <div class="modal" id="deleteItemModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        Apakah kamu yakin akan menghapus Item ini?
                      </div>
                      <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-green yes-delete" data-dismiss="modal">Ya</button>
                        <button type="button" class="btn btn-green" data-dismiss="modal">Tidak</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
	</div>
{% endblock content %}


{% block script %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
      integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp"
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"
            integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX"
            crossorigin="anonymous"></script>
    <script src="{% static "js/item.js" %}" type="text/javascript"></script>
{% endblock %}
