{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			font-family: Lato;
			font-size: 12px;
		}

		table {
			border: 1px solid black;
		}

		tr {
			border: 1px solid black;
		}

		td {
			border: 1px solid black;
			text-align: center;
			font-size: 2em;
		}
	</style>
{% endblock %}	
		
{% block content %}
<table style="width:80%">
	<thead>
		<tr>
			<th>Id Pengiriman</th>
			<th>Barang</th>
			<th>Review</th>
			<th>Tanggal pengulasan</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<{% for shipping in shippings %}
		<tr id="data_review">
			<td id="id">{{ forloop.counter }}</td>
			<td id="barang">{{ review.0 }}</td>
			<td id="review">{{ review.1 }}</td>
			<td id="tanggal">{{ review.2 }}</td>
			<td>
				{% if request.session.role == "Anggota" %}
					<button type="submit" class="btn btn-default">Update</button>
					<button type="submit" class="btn btn-default">Delete</button>
				{% endif %}
			</td>
			{% endfor %}
		</tr>
		</tr>
	</tbody>
</table>
{% endblock %}
