{% extends 'base.html' %}
{% load static %}

  {% block meta %}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  {% endblock %}
  {% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% endblock %}

{% block content %}
<div class="container">
  <h2>FORM TULIS REVIEW</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Barang:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter item's name" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Review:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter review" name="pwd">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
