<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>ToysRent</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	</head>

	<body>
		<div class="col-md-12 row container">
			<div class="col-md-6">
				<h1 class="title text-white">TOYS RENT PADIL</h1>
				<br>
				<p>
				Pinjem mainan jadi eezy peezy lemon squeezy. Gak usah jauh-jauh geng, cukup rental aja bekas orang. Paling kena liur dikitlah. Tapi masih tetep pantes daripada keluar duit banyak buat beli baru. Ya gak?
				</p>

				<br>
				<a href="/pengguna/register/admin"><button class="btn btn-green">Register as Admin</button></a>
				<a href="/pengguna/register/anggota"><button class="btn btn-green register-as-anggota">Register as Anggota</button></a>
				<a href="/pengguna/login"><button class="btn btn-green login">Log in</button></a>
			</div>

			<div class="col-md-6">
				<img src="{% static 'landing/images/anjing.png' %}">
			</div>
		</div>
	</body>
</html>